@import "/node_modules/bootstrap/scss/bootstrap.scss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

nav {
  height: fit-content;
}

.nav-link-btn {
  text-decoration: none !important;
}

.nav-icon {
  object-fit: cover;
}

.container-table {
  height: 85vh;
  position: relative;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
.container-head {
  position: relative;
}
.table-head {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 96;
}

.play-title {
  width: 70%;
}
.cont-group {
  //background-color: rgb(255, 195, 207);
  height: fit-content;
}

.emoji {
  text-align: center;
  vertical-align: middle;
}

.large-title {
  width: 85%;
  max-width: 85%;
}

.large-title input {
  width: 90%;
}

.large-title-body {
  //overflow: hidden;
  //text-overflow: ellipsis;
  //white-space: nowrap;
  // These ones do the trick
  width: inherit;
  max-width: 0;
}

#watch-change {
  width: max-content;
  height: max-content;
}

.input-card {
  max-height: 85vh;
}

.unified-input {
  height: max-content;
}

.sort-arrow {
  font-size: smaller;
}

.action-button {
  position: absolute;
  bottom: 25px;
  right: 40px;
  z-index: 69;
}

.fab-holder {
  position: absolute;
  top: 0px;
  left: 0px;
}

.sub-list-cont {
  position: relative;
}

.actual-list {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 43;
}
