@import "/node_modules/bootstrap/scss/bootstrap.scss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
/*background-color: #121212;
  color: #ffffff;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
*/
.no-underline {
  text-decoration: none !important;
}

nav {
  height: fit-content;
}

.container-table {
  height: 85vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
.container-head {
  position: relative;
}
.table-head {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 69;
}

.play-title {
  width: 70%;
}
.cont-group {
  //background-color: rgb(255, 195, 207);
  height: fit-content;
}

.emoji {
  text-align: center;
  vertical-align: middle;
}

.large-title {
  width: 75%;
}

.search {
  width: 95%;
}

#watch-change {
  width: max-content;
  height: max-content;
}

.input-card {
  max-height: 85vh;
}

.unified-input{
  height: max-content;
}

.sort-arrow{
  font-size: smaller;
}