@import "/node_modules/bootstrap/scss/bootstrap.scss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.no-underline {
  text-decoration: none !important;
}

nav {
  min-height: 5vh;
  max-height: 10vh;
  height:fit-content;
}

.container-table {
  min-height: 75vh;
  max-height: 85vh;
  height: auto;
  background-color: rgb(145, 255, 160);
  tbody {
    background-color: rgb(177, 247, 247);
  }
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  table thead th {
    position: sticky;
    top: 0;
  }
}

.cont-group{
  background-color: rgb(255, 195, 207);
  height: fit-content;
  min-height: 10vh;
  max-height: 15vh;
}

.emoji {
  text-align: center;
  vertical-align: middle;
}

.large-title {
  width: 75%;
}

.search {
  width: 100%;
}
